<div class="search-container">
  <form action="/found_title">
    <label for="lyrics">
      <textarea id="lyrics" name="lyrics" rows="5" cols="30">
    </label>
    <button type="submit">Submit</button>
  </form>
</div>
