<div class="search-container">
  <form class="search_lyrics_form" action="/found_title">
    <textarea class="form-input" id="lyrics" name="lyrics" rows="5" cols="30" placeholder="Enter lyrics here..." required></textarea>
    <button class="submit-btn" type="submit">Submit</button>
  </form>
</div>
