<div class="search-container">
  <form action="/found_title">
    <label for="lyrics">Enter lyrics</label>
    <textarea id="lyrics" name="lyrics" rows="5" cols="30">
    Lyrics go here...
    </textarea>
    <button type="submit">Submit</button>
  </form>
</div>
