<div class="search_container">
  <form class="search_title_form" action="/found_lyrics">
    <div class="search_title_form_section">
      <label for="artist">Enter artist:</label>
      <input id="artist" name="artist" type="text">
    </div>
    <div class="search_title_form_section">
      <label for="title">Enter title:</label>
      <input id="title" name="title" type="text">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
