<div class="search-container">
  <form action="/found_title">
    <label class="form-label" for="lyrics">Enter lyrics</label>
    <textarea class="form-input" id="lyrics" name="lyrics" rows="5" cols="30" placeholder="Lyrics go here...">
    </textarea>
    <button class="submit-btn" type="submit">Submit</button>
  </form>
</div>
