<div class="search_container">
  <form action="/found_lyrics">
    <label for="artist">Enter artist:</label>
    <input id="artist" name="artist" type="text">
    <label for="title">Enter title:</label>
    <input id="title" name="title" type="text">
    <button type="submit">Submit</button>
  </form>
</div>
