body, html {
  padding: 0;
  margin: 0;
}

.roboto-san {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: #A0C5E4;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  padding: 4rem 10rem;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.header {
  display: flex;
  background-color: #609FD2;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 2.5rem;
}

.home {
  position: absolute;
  left: 2rem;
  top: 32%;
  font-size: 2rem;
  color: black;
}

.home-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  margin-top: 3rem;
}

.home-search {
  font-size: 3rem;
  padding: 1rem;
  background-color: #ffb703;
  color: #609FD2;
  text-align: center;
  border-radius: 12px;
}

.search_title_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

}

.search_lyrics_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.search_title_form_section {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer {
  margin-top: auto;
  text-align: center;

}

.form-label {
  font-size: 1.25rem;
  flex-basis: 30%;
  text-align: end;
}

.form-input {
  font-size: 1.25rem;
  padding: .25rem;
  flex-basis: 70%;
}

.submit-btn {
  font-size: 2rem;
  padding: .75rem;
  background-color: #ffb703;
  color: #609FD2;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.6;
}

.title-container, .lyrics-container {
  max-width: 400px;
}
